<div ng-if="result.Success">
    <table>
        <thead>
            <tr>
                <th>@Resources.ExchangeRates.Tbl_Heading_Currency</th>
                <th>@Resources.ExchangeRates.Tbl_Heading_RateDifference</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="exchangeRate in result.Data">
                <td>{{exchangeRate.Quantity + " " + exchangeRate.Name}}</td>
                <td>{{exchangeRate.RateDifference}}%</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!result.Success">
    <h2>@Resources.ExchangeRates.Err_DataLoading</h2>
</div>